<h1>Dashboard</h1>

<div class="panel panel-default products"> 
    <dl class="dl-horizontal">
      <br/>
      <dt>Total products:</dt> 
      <dd> <%= link_to @num_of_products, :admin_products %></dd>

      <br/>
      <dt>Total categories:</dt> 
      <dd><%= @num_of_category %></dd>
    </dl>
  </div>