<h1>Dashboard</h1>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @num_of_category%></span>
    The amount of categories
  </li>
  <li class="list-group-item">
    <span class="badge"> <%= link_to @num_of_products, [:admin, :products] %> </span>
    The amount of products
  </li>
</ul>

