<section class="about">

  <header class="page-header">
    <h1>About</h1>
  </header>
  <p>
  Our collection are for people, who search all year for unique goods from around the world. We also discover unique pieces through online submissions from our community of designers and creators.
We look for goods that:
  </p>
  <ul>
    <li>Serve a purpose</li>
    <li>Solve a problem</li>
    <li>Stun us with their beauty</li>
    <li>Use unusual, reclaimed, or recycled materials</li>
    <li>Make us wonder, “Why hasn't anyone thought of this before?”</li>
  </ul> 

</section>